<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <span class="icon">
          <i class="fab fa-github"></i>
        </span>
        Rails 6.0 With Bulma and FontAwesome
      </h1>
      <h2 class="subtitle">
        Starter Template
      </h2>
    </div>
  </div>
</section>